.container {
    width: 150px;
    margin-top: 15px;
}

.input {
    margin-top: 10px;
}

.h {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.btn {
    width: 150px;
    margin-top: 15px;
}

.btn:hover  {
    color: blue;
}
